.DS_Store
.ipynb_checkpoints
*.pyc
__pycache__
*.egg-info
build/*
dist/*
*~
.cache
.coverage
checkpoint
htmlcov
mnist
test*tflearn*
/examples/nlp/char_idx.pickle
/examples/nlp/shakespeare_input.txt
/examples/nlp/donquijote_spanish_only.txt
*.data*
*.index
*.meta
/examples/nlp/donquijote.txt
/examples/nlp/char_idx.pickle.shakespeare
