.DS_Store
.ipynb_checkpoints
*.pyc
__pycache__
*.egg-info
build/*
dist/*
*~
.cache
.coverage
checkpoint
htmlcov
mnist
test*tflearn*
/examples/nlp/shakespeare_input.txt
/examples/nlp/donquijote_spanish_only.txt
/examples/nlp/char_idx.pickle.shakespeare
examples/nlp/quijote_checkpoints/
examples/nlp/shakespeare_checkpoints/
examples/nlp/quijote_trained_model/old
examples/nlp/quijote_trained_model/previous_runs/
